html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg,#c6ffdd, #fbd786, #f7797d);
    color: white;
    
}

#nav {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

#nav li {
    display: inline;
    padding: 0.2rem;

}

#nav img {
    height: 35px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    text-align: center;
    display: inline;
    margin-left: 48%;
}

span:hover {
    text-shadow: 0 0 10px white;
}

p {
    font-family: 'Dancing Script', cursive;
    text-shadow: 5px 2px 4px grey;
    font-size: 30px;
    text-align: center;
}

p:hover {
    text-shadow: 0 0 10px white;
}

#days {    
    font-family: 'Dancing Script', cursive;
    text-shadow: 5px 2px 4px grey;
    text-align: right;    
    font-size: 20px;
    margin: 10px;
    margin-top: 40px;
    list-style-type: none;
}

#days a {
    color: white;
    text-decoration: none;
}

#days a:hover {
    text-shadow: 0 0 10px white;
}